---
import {FormGroup} from './form-group';
export interface Props {
	formGroup: FormGroup;
}

const form: FormGroup = Astro.props.formGroup;
---
<form>
		{form?.controls?.map(control => (
			<div>
						{(control.labelPosition === 'left')
							? <label for={control.name}>{control.label}</label>
							: null}

						<input name={control.name} id={control.name} type={control.type} value={control.value} checked={control.value==='checked'} />

						{(control.labelPosition === 'right')
							? <label for={control.name}>{control.label}</label>
							: null}

			</div>
		))}
</form>
